.App {
  color: #757575;
  width: 60vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border: 1px solid #546e7a;
  border-radius: 4px;
  background-color: #e0f7fa;

  @media screen and (max-width: 1200px) {
    width: 100%;
  }

  &-error,
  &-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  &-error {
    color: #e91e63;
  }
}
